@font-face {
	font-family: 'tt_norms_bold';
	src: url('../fonts/TypeType - TT Norms Bold.eot');
	src: local('☺'), url('../fonts/TypeType - TT Norms Bold.woff') format('woff'), url('../fonts/TypeType - TT Norms Bold.ttf') format('truetype'), url('../fonts/TypeType - TT Norms Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'tt_norms';
	src: url('../fonts/TypeType - TT Norms Regular.eot');
	src: local('☺'), url('../fonts/TypeType - TT Norms Regular.woff') format('woff'), url('../fonts/TypeType - TT Norms Regular.ttf') format('truetype'), url('../fonts/TypeType - TT Norms Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body{
	font-family: 'tt_norms';
	font-size:16px;
	margin: 0px;
}
ul, li, a, h1, h2, h3, p{
	list-style:none;
	padding: 0px;
	margin:0px;
}


.header_bg{
	background: url(../images/header_repeat.png) repeat-x center top #fff;
	min-height: 111px;
	width: 100%;
	position:relative;
}
.header_left, .header_right{
	position:absolute;
	top:0px;
}
.header_left{
	background:url(../images/left_header.png) no-repeat left top;
	min-height: 111px;
	width:45%;
	left:0px;
	z-index: 99;
}
.header_right{
	background: url(../images/right_header.png) no-repeat right top;
	min-height: 111px;
	width:45%;
	right:0px;
	z-index: 99;
}
.logo_pharma{
	min-height: 46px;
	position: relative;
	z-index: 9999;
	margin-top: 30px;
	float:left;
}
.banner_text_right{
	float: right;
	margin: 30px 0 0 100px;
	position: relative;
	z-index: 9999;
	color: #fff;
	font-family:'tt_norms_bold';
	font-size: 18px;
}
.banner_text_right b{
	color: #00b140;
}
.menu_items_ph{
	padding:20px 0;
}
.menu_items_ph li a{
	display: block;
	float: left;
	padding: 65px 24px 0px;
	font-size: 12px;
	color: #666666;
	text-transform: uppercase;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	position: relative;
}
.menu_items_ph li a:hover{
	text-decoration:none;
	color: #000000;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
/*.menu_items_ph li a b{
	position:absolute;
	bottom: -15px;
}*/
.item01{
	background-image:url(../images/menu_item_icon01.png);
	background-position:center -156px;
}
.item02{
	background-image:url(../images/menu_item_icon02.png);
	background-position:center -154px;
}
.item03{
	background-image:url(../images/menu_item_icon03.png);
	background-position:center -146px;
}
.item04{
	background-image:url(../images/menu_item_icon04.png);
	background-position:center -156px;
}
.item{
	background-repeat:no-repeat;
}
.item01:hover{
	background-position:center 5px;
}
.item02:hover{
	background-position:center 5px;
}
.item03:hover{
	background-position:center 14px;
}
.item04:hover{
	background-position:center 3px;
}





.wrapper{
	background: #eceff3;
}
.left_submenu{
	background: #0033a0;
  display: table-cell;
    padding: 0px;
	float:none;
}
.left_submenu h1{
	font-size: 24px;
	color: #ffffff;
	padding: 20px 30px;
}
.left_submenu ul li{
	display:block;
	padding: 0 20px 0px 20px;
	border-left:10px solid #0033a0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.left_submenu ul li:hover, .left_submenu ul li.active_item{
	background:#002980;
	border-left:10px solid #00b140;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.left_submenu ul li a{
	font-size:14px;
	color:#e4e4e4;
	display:block;
	padding: 20px 0px;
	margin-bottom:1px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.left_submenu ul li a:hover, .left_submenu ul li.active_item a{
	text-decoration:none;
	background:url(../images/arrow_left_menu.png) no-repeat right center #002980;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.right_content_block{
	padding: 30px 30px 30px 30px;
  display: table-cell;
	float:none;
}
.right_content_block h2{
	border-bottom:2px solid #00b140;
	padding-bottom: 10px;
	margin-bottom: 20px;
}
.fields_design{
	padding:0 0 30px;
}
.fields_design input[type=text]{
	font-size:18px;
	color: #333333;
	background: #e6eded;
	padding: 10px;
	border: 0px none;
	border: 1px solid #969b9b;
	width: 90%;
}
.fields_design select{
	font-size:18px;
	color: #333333;
	background: #e6eded;
	padding: 10px;
	border: 0px none;
	border: 1px solid #969b9b;
	width: 90%;
}
.fields_design input[type=text].nonactive {
	font-size:18px;
	color: #969b9b;
	background: #e6eded;
	padding: 10px;
	border: 0px none;
	width: 90%;
}
.fields_design label{
	color:#171717;
	font-size:18px;
}
table {margin-bottom:30px;}
table tr th, table tr td {padding:10px; border-bottom:1px solid #969b9b; vertical-align: top;}
.component label{
	color:#171717;
	font-size:18px;
	display: block;
}
.component input[type=text]{
	font-size:18px;
	color: #969b9b;
	background: #e6eded;
	padding: 10px;
	border: 0px none;
	width: 79%;
}
.component input[type=button]{
	font-size:18px;
	color: #FFF;
	background: url(../images/add_icon.png) no-repeat left center #0033a0;
	padding: 10px 30px;
	border: 0px none;
	border-left:30px solid #0033a0;
}
.component input[type=button]:hover{
	background: url(../images/add_icon.png) no-repeat left center #00b140;
	border-left:30px solid #00b140;
}
.submit_block{
	padding-top: 40px;
	border-top:1px solid #D7E2F4;
	margin-top: 10px;
}
.submit_block .submit_btn_cmn, .fields_design  .submit_btn_cmn{
	font-size:18px;
	color: #FFF;
	font-weight: bold;
	background:#00b140;
	padding: 9px 30px;
	border: 1px solid #00b140;
	text-transform: uppercase;
}
.submit_block .submit_btn_cmn:hover, .fields_design  .submit_btn_cmn:hover{
	background:#FFF;
	color: #00b140;
}
.content_area{
	padding: 0px 0;
  display: table;
	width: 100%;
	min-height: 85vh;
}
.content_area .container{
	background:#fff;
	padding: 0px;
	position:relative;
}
.footer{
	font-size: 16px;
	color:#999999;
	text-align: center;
	padding: 10px 0;
	border-top:2px solid #00b140;
	letter-spacing:2px;
}
.tab-content .tab-pane {padding:30px 0;}
.nav-tabs li.active a, .nav-tabs li.active a:focus, .nav-tabs li.active a:hover {color: #FFF;
    background-color: #0033a0;
    border: 1px solid #0033a0;}
.nav-tabs a {
    color: #0033a0;
}
.nav-tabs {
    border-bottom: 1px solid #0033a0;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #bdc9e2;
}

.nav-tabs > li > a:hover {
  border-color: #bdc9e2 #bdc9e2 #0033a0 #bdc9e2;
}
.container-fluid {padding: 0px;}
.info {     background-color: #ffffcc; border: 1px solid #ffeb3b; padding:10px 10px; margin-bottom: 30px; }

#cover-spin {
	position: fixed;
	width: 100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.7);
	background-image: url(../images/loader.gif);
	background-repeat: no-repeat;
        background-position: center;
	z-index: 9999;
	display: none;
}
.badge-danger{background-color: red;}
.badge-info{background-color: #11abf5;}
.badge-success{background-color: #00b140;}

.btn-outline-primary {
    background: #00b140;
    color: white;
}

.student_id_banner{
	background:url(../images/bg_student_id.png) no-repeat center bottom #eceff3;
	background-size: 100% auto;
	min-height: 620px;
	padding: 120px 0 0;
}
.button_set{
	display:block;
	text-align: center;
	padding: 25px 0 0;
}
.cms_student_btn{
	border-radius: 50px;
	padding: 10px 20px;
	margin: 0 15px;
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
	color: #ffffff;
	min-width: 160px;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.13);
	text-shadow: 0px 5px 10px rgba(0,0,0,0.13);
	text-transform: uppercase;
}
.cms_student_btn:hover{
	text-decoration: none;
}
.agent_btn{
	background:#f78f26;
	border:1px solid #f78f26;
}
.agent_btn:hover{
	background:#FFF;
	border:1px solid #f78f26;
	color: #f78f26;
}
.admin_btn{
	background:#00b140;
	border:1px solid #00b140;
}
.admin_btn:hover{
	background:#FFF;
	border:1px solid #00b140;
	color: #00b140;
}
.student_id_banner h2{
	font-size: 24px;
	color: #ffffff;
	display: block;
	text-align: center;
	padding: 15px 0;
}
.student_id_banner h2 b{
	font-weight: bold;
}
.student_id_banner h1{
	font-size: 52px;
	color: #ffffff;
	display: block;
	font-weight:bold;
	text-align: center;
	text-transform: uppercase;
	padding: 15px 0;
}
.signout {
           position: absolute;
           left: 80%;
}
